.linking {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: normal;
  transition: color 0.3s ease, border-radius 0.3s ease; /* 添加颜色和边框半径的过渡效果 */
}

.linking:hover {
  color: #ea6f2a;
  letter-spacing: 2px;
  font-weight: normal;
  border-radius: 30px;
}

 .fadeOut {
            opacity: 0.3; /* Adjust the opacity value as needed */
            transition: opacity 0.3s ease; /* Adding a transition effect */
          }
.dropdownLink{
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  
}

.dropdownLink:hover{
  color: #ea6f2a;
  letter-spacing: 4px;
  font-weight: normal;
}
